<% if user_signed_in? %>
<% if current_user.supervisor? %>
  <h1>SUPERVISOR HOME</h1>
  <h2>Categories</h2>
  <%= link_to (t :AddNewCategory), new_supervisor_category_path %>|
  <%= link_to (t :ViewCategories), supervisor_categories_path %>
  <h2>Words</h2>
  <%= link_to (t :AddNewWord), new_supervisor_word_path %>|
  <%= link_to (t :ViewWords), supervisor_words_path %>
  <h2>Word Answers</h2>
  <%= link_to (t :AddNewWordAnswer), new_supervisor_word_answer_path %>|
  <%= link_to (t :ViewWordAnswers), supervisor_word_answers_path %>
<% else %>
<% end %>
<% else %>
<div class="center jumbotron">
  <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
</div>
<% end %>
