<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for [:supervisor, @word] do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :content %>
      <%= f.text_field :content, class: 'form-control' %>
      <h2>Categories</h2>
      <% @categories.each do |category| %>
        <%= f.radio_button :category_id, category.id %>
        <%= f.label category.name %></br>
      <% end %>

      <%= f.submit (t :CreateNewWord), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
